<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>YLIWAY</title>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f7f7f7; font-family: 'Open Sans', Arial, sans-serif; ">
  <table width="100%" cellspacing="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; background-color: #fff">
    <tr>
      <td style="height: 20px;"></td>
    </tr>
    <tr>
      <td style="text-align: center">
        <img src="https://yilway-admin-api-dev.devpress.net/admin/api/public/upload/images/image_1648540126338.svg" alt="YLIWAY" width="150">
      </td>
    </tr>
    <tr>
      <td style="height: 40px;"></td>
    </tr>
    
    <tr>
      <td style="height: 30px;"></td>
    </tr>
    <tr>
      <td style="text-align: center;">
        <table width="100%" cellspacing="0" cellspacing="0" style="max-width: 350px; margin:0 auto">
          <tr>
            <td style="font-family: 'Open Sans', Arial, sans-serif;  font-size: 22px; font-weight: bold; color: #252b33; line-height: 30px;">Hello <span>{{user_name}}</span></td>
          </tr>
          <tr>
            <td style="font-family: 'Open Sans', Arial, sans-serif;  font-size: 16px; color: #252b33; line-height: 20px; padding-bottom: 20px;">
              <p style="line-height: 24px;">Remember that <span>{{activity_type}}</span> <span>{{activity_title}}</span> will start tomorrow.</p>
              <p style="line-height: 24px;">YLIWAY Team</p>
            </td>
          </tr>
          <tr>
            <td>
              <button style="background-color: #cc00cc; color: #fff; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; border-radius: 25px; padding: 13px 20px; border:0; min-width: 250px; cursor: pointer; text-transform: uppercase;">Click Here</button>
            </td>
          </tr>
          <tr>
            <td style="height: 40px"></td>
          </tr>
          <tr>
            <td style="font-family: 'Open Sans', Arial, sans-serif;  font-size: 12px; color: #252b33; line-height: 16px; padding-bottom: 20px;">Copyright@2021, IndiaNIC  |  All Rights Reserved</td>
          </tr>
        </table>
      </td>
    </tr>
          <tr>
            <td style="padding: 0;">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="padding: 10px 25px;">
                <tr>
                  <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#252b33; font-weight: bold; text-align: center;">Follow us</td>
                </tr>
                <tr>
                  <td>
                    <ul style="list-style: none; text-align: center; padding-left: 0; margin: 10px 0 0 0;">
                      <li style="display: inline-block; margin: 0 10px;">
                        <a href="#" target="_blank">
                          <img width="16" src="http://development.indianic.com/design/2021/HTML/Email-Template/fb.png" style="filter: invert(23) brightness(100%) sepia(80%) saturate(47%);">
                        </a>
                      </li>
                      <li style="display: inline-block; margin: 0 10px;">
                        <a href="#" target="_blank">
                          <img width="16" src="http://development.indianic.com/design/2021/HTML/Email-Template/in.png" style="filter: invert(23) brightness(100%) sepia(80%) saturate(47%);">
                        </a>
                      </li>
                      <li style="display: inline-block; margin: 0 10px;">
                        <a href="#" target="_blank">
                          <img width="16" src="http://development.indianic.com/design/2021/HTML/Email-Template/tw.png" style="filter: invert(23) brightness(100%) sepia(80%) saturate(47%);">
                        </a>
                      </li>
                      <li style="display: inline-block; margin: 0 10px;">
                        <a href="#" target="_blank">
                          <img width="16" src="http://development.indianic.com/design/2021/HTML/Email-Template/gg.png" style="filter: invert(23) brightness(100%) sepia(80%) saturate(47%);">
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>           
              </table>
            </td>   
          </tr>
          <tr>
        <td style="height: 15px;"></td>
      </tr>
  </table>
</body>
</html>